{{ define "main" }}
  {{ if .IsSection }}
    <div class="container max-w-screen-lg px-6 py-12 mx-auto flex flex-col flex-auto flex-wrap gap-8">
      <div class="text-4xl font-semibold">
        {{ .Content }}
      </div>

      <div class="flex flex-col gap-6 paperlist">
      {{ range (where .Site.RegularPages.ByDate.Reverse "Type" "paper")  }}
        {{- partial "paper-card.html" . -}}
      {{ end }}
      </div>
    </div>
  {{ else }}
  <div class="container max-w-screen-lg px-6 py-12 mx-auto flex flex-col flex-auto prose prose-zinc dark:prose-dark dark:prose-invert">
    <div class="flex flex-col">
      <h1>
        {{ .Params.title | safe.HTML }}
      </h1>

      <div class="flex flex-row flex-wrap">
        <b>Author: </b>&nbsp;
        <div class="flex flex-row flex-wrap" style="gap: 0rem;">
        {{ $length := 0 }}
        {{ range .Params.paper.author }}
          {{ $length = add $length 1 }}
        {{ end }}
        {{ $andLength := sub $length 2 }}
        {{ $length = sub $length 1 }}
        {{ $peopleSlice := (where .Site.RegularPages "Type" "people") }}

        {{ range $k, $url := .Params.paper.author }}
          {{ if $url.url }}
            <a style="text-decoration-style: dotted; text-decoration-thickness: 2px; text-underline-offset: 4px; text-decoration-color: #d4d4d8;" href="{{ $url.url }}">
              {{ $url.name }}
            </a>
          {{ else if $url.id }}
            {{ $isAlumni := false }}
            {{ range $people := $peopleSlice }}
              {{ if and (eq $url.id $people.Params.name) $people.Params.alumni }}
                {{ $isAlumni = true }}
              {{ end }}
            {{ end }}
            {{ if $isAlumni }}
              <div>{{ $url.name }}</div>
            {{ else }}
              <a style="text-decoration-style: dotted; text-decoration-thickness: 2px; text-underline-offset: 4px; text-decoration-color: #d4d4d8;" href="/people/{{ $url.id }}">
                {{ $url.name }}
              </a>
            {{ end }}
          {{ else }}
            <div>{{ $url.name }}</div>
          {{ end }}

          {{ if eq $k $andLength }}
            ,&nbsp;and&nbsp;
          {{ else if eq $k $length }}
          {{ else }}
            ,&nbsp;
          {{ end }}
        {{ end }}
        </div>
      </div>

      <div class="italic">
        {{ .Params.publisher }}
      </div>

    </div>

    <div>
      <h2>
        People
      </h2>
      <div class="flex flex-row justify-around">
      {{ $peopleSlice := (where .Site.RegularPages "Type" "people") }}
      {{ $paperAuthorSlice := .Params.paper.author }}

      {{ range $paperAuthor := $paperAuthorSlice }}
        {{ if $paperAuthor.id }}
          {{ range $people := $peopleSlice.ByDate }}
            {{ if eq $paperAuthor.id $people.Params.name }}
              {{- partial "author-card.html" . -}}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
      </div>
    </div>

    {{ if .Params.abstract }}
    <div>
      <h2>
        Abstract
      </h2>
      {{ range .Params.abstract }}
        {{ . | safe.HTML }}
      {{ end }}
    </div>
    {{ end }}

    {{ if .Params.video }}
    {{ $video := .Params.video }}
    {{ $embed := $video }}
    {{ if in $video "youtube.com/watch" }}
      {{ $id := replaceRE `.*v=([^&]+).*` "$1" $video }}
      {{ $embed = printf "https://www.youtube.com/embed/%s" $id }}
    {{ else if hasPrefix $video "https://youtu.be/" }}
      {{ $id := replaceRE `^https://youtu\\.be/([^?]+).*` "$1" $video }}
      {{ $embed = printf "https://www.youtube.com/embed/%s" $id }}
    {{ end }}
    <!-- 16:9 ratio -->
    <h2>
      Video
    </h2>
    <div class="relative w-full overflow-hidden" style="padding-top: 56.25%">
      <iframe class="absolute top-0 left-0 bottom-0 right-0 w-full h-full border-none"   src="{{ $embed }}" title="Embedded video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    {{ end }}

    <h2>
      Resources
    </h2>

    <div class="flex flex-row gap-6 flex-wrap">
      {{ if .Params.pdf }}
      <span class="inline-block">
        <a class="flex flex-row" style="text-decoration-line: none; gap: 0.5rem;" href={{ .Params.pdf }}>
          <svg xmlns="http://www.w3.org/2000/svg" class="inline" height="1.5em" viewBox="180 96 600 960">
            <path fill="currentColor" d="M336 816h288v-72H336v72zm0-144h288v-72H336v72zm-72.283 288Q234 960 213 938.85T192 888V264q0-29.7 21.15-50.85T264 192h312l192 192v504q0 29.7-21.162 50.85Q725.676 960 695.96 960H263.717zM528 432V264H264v624h432V432H528zM264 264v189-189 624-624z"/>
          </svg>
          PDF
        </a>
      </span>
      {{ end }}

      {{ if .Params.preprint }}
      <span class="inline-block">
        <a class="flex flex-row" style="text-decoration-line: none; gap: 0.5rem;" href={{ .Params.preprint }}>
          <svg xmlns="http://www.w3.org/2000/svg" class="inline" height="1.5em" viewBox="180 96 600 960">
            <path fill="currentColor" d="M336 816h288v-72H336v72zm0-144h288v-72H336v72zm-72.283 288Q234 960 213 938.85T192 888V264q0-29.7 21.15-50.85T264 192h312l192 192v504q0 29.7-21.162 50.85Q725.676 960 695.96 960H263.717zM528 432V264H264v624h432V432H528zM264 264v189-189 624-624z"/>
          </svg>
          Preprint
        </a>
      </span>
      {{ end }}

      {{ if .Params.slide }}
      <span class="inline-block">
        <a class="flex flex-row" style="text-decoration-line: none; gap: 0.5rem;" href={{ .Params.slide }}>
          <svg xmlns="http://www.w3.org/2000/svg" class="inline" height="1.5em" viewBox="0 96 960 960">
            <path fill="currentColor" d="M840 912V312H120v360H48V312q0-29.7 21.15-50.85Q90.3 240 120 240h720q29.7.0 50.85 21.15Q912 282.3 912 312v528q0 29-21.15 50.5T840 912zM336 672q-60 0-102-42t-42-102 42-102 102-42 102 42 42 102-42 102-102 42zm.212-72Q366 6e2 387 578.788q21-21.213 21-51Q408 498 386.788 477q-21.213-21-51-21Q306 456 285 477.212q-21 21.213-21 51Q264 558 285.212 579q21.213 21 51 21zM48 960v-92q0-26 12.5-47T95 786q54-33 115.691-49.5Q272.381 720 336 720q64 0 124.5 16.5T577 786q22 13 34.5 34.61T624 868v92H48zm72-72h432v-24q0-5.176-3.025-9.412Q545.95 850.353 541 848q-48-27-99.5-41.5T336 792t-106 14.5T131 848q-5 3-8 7.034-3 4.035-3 8.966v24zm216-360zm0 360z"/>
          </svg>
          Slide
        </a>
      </span>
      {{ end }}

      {{ if .Params.poster }}
      <span class="inline-block">
        <a class="flex flex-row" style="text-decoration-line: none; gap: 0.5rem;" href={{ .Params.poster }}>
          <svg xmlns="http://www.w3.org/2000/svg" class="inline" height="1.6em" viewBox="0 -960 960 960">
            <path fill="currentColor" d="M140.001-440v-307.691q0-30.308 21-51.308t51.308-21H440V-440H140.001zm240-59.999zm139.999-320h227.691q30.308.0 51.308 21t21 51.435V-6e2H520v-219.999zm0 679.998V-520h299.999v307.691q0 30.308-21 51.308t-51.308 21H520zM140.001-360H440v219.999H212.309q-30.308.0-51.308-21t-21-51.435V-360zm240 59.999zm199.998-359.998zm0 199.998zM2e2-499.999h180.001V-760H212.309q-5.385.0-8.847 3.462-3.462 3.462-3.462 8.847v247.692zm379.999-160H760v-87.692q0-5.385-3.462-8.847T747.691-760H579.999v100.001zm0 199.998V-2e2h167.692q5.385.0 8.847-3.462t3.462-8.847v-247.692H579.999zM2e2-300.001v87.692q0 5.385 3.462 8.847 3.462 3.462 8.847 3.462h167.692v-100.001H2e2z"/>
          </svg>
          Poster
        </a>
      </span>
      {{ end }}

      {{ if .Params.code }}
      <span class="inline-block">
        <a class="flex flex-row" style="text-decoration-line: none; gap: 0.5rem;" href={{ .Params.code }}>
          <svg xmlns="http://www.w3.org/2000/svg" class="inline" height="1.8em" viewBox="50 96 860 960">
            <path fill="currentColor" d="M336 802.153 109.847 576 336 349.847l36.768 36.768-189 189L373.153 765 336 802.153zm288 0-36.768-36.768 189-189L586.847 387 624 349.847 850.153 576 624 802.153z"/>
          </svg>
          Code
        </a>
      </span>
      {{ end }}

      {{ if .Params.web }}
      <span class="inline-block">
        <a class="flex flex-row" style="text-decoration-line: none; gap: 0.25rem;" href={{ .Params.web }}>
          <svg xmlns="http://www.w3.org/2000/svg" class="inline" height="1.5em" viewBox="0 96 960 960">
            <path fill="currentColor" d="M480.276 960Q401 960 331 930t-122.5-82.5T126 725.042q-30-69.959-30-149.5Q96 496 126 426.5t82.5-122T330.958 222q69.959-30 149.5-30Q560 192 629.5 222t122 82.5T834 426.724q30 69.725 30 149Q864 655 834 725t-82.5 122.5T629.276 930q-69.725 30-149 30zM432 884v-68q-20 0-34-14.1T384 768v-48L175 511q-4 19-5.5 35t-1.5 30q0 115 74.5 203T432 884zm288-109q18-21 31.5-44t22.359-48.553q8.86-25.553 13.5-52.5Q792 603 792 576q0-94.608-52-172.804T6e2 288v24q0 29.7-21.15 50.85Q557.7 384 528 384h-96v48q0 20.4-13.8 34.2T384 480h-48v96h240q20.4.0 34.2 13.8Q624 603.6 624 624v96h41q23 0 39 16t16 39z"/>
          </svg>
          Web
        </a>
      </span>
      {{ end }}
    </div>

    {{ if .Params.bibtex }}
    <div>
      <h2>
        BibTeX
      </h2>
      <pre class="bg-slate-100 text-black dark:bg-gray-900 dark:text-white"><code >{{ .Params.bibtex }}</code></pre>
      <!-- {{ if .Params.doi }} -->
      <!-- <div class="m-0 text-xs font-light text-zinc-400 dark:text-zinc-600 italic" style="font-size: 0.75rem; line-height: 1rem;"> -->
      <!--   Research Collection: {{ .Params.doi }} -->
      <!-- </div> -->
      <!-- {{ end }} -->
    </div>
    {{ end }}

  </div>
  {{ end }}
{{ end }}
