/* Custom Styles */
body {
  font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* Fonts */

/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: italic;
  src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
}