<div class="p-0 flex flex-col sm:flex-row sm:justify-center items-center w-full gap-4">
  <a  href="{{ .Permalink }}">
  {{ if .Params.image }}
    <img src="{{ .Params.image }}"        alt="{{ .Params.title }}" class="m-0 rounded-full shadow-sm h-20 w-20 sm:h-24 sm:w-24 object-cover" />
  {{ else }}
    <img src="/images/placeholder-avatar.svg" alt="{{ .Params.title }}" class="m-0 rounded-full shadow-sm h-20 w-20 sm:h-24 sm:w-24 object-cover" />
  {{ end }}
  </a>

  <div class="sm:my-2 flex flex-col flex-wrap sm:items-start">
    <div class="p-0">
      <a href="{{ .Permalink }}">
        <div class="text-xl font-semibold">{{ .Params.title }}</div>
      </a>
    </div>

    <h5 class="text-sm font-light italic text-gray-500 dark:text-gray-200">
      {{ .Params.degree }}
    </h5>
  </div>

</div>
