
{{ $swiperCss := resources.Get "css/swiper-bundle.min.css" }}
{{ $swiper := resources.Get "js/swiper-bundle.min.js" }}
<section class="bg-white dark:bg-gray-800">
  <div class="swiper-container w-full relative z-0">
    <div class="swiper w-full">
      <div class="swiper-wrapper relative">
        {{ range .Site.Params.introImages }}
        <div class="swiper-slide">
          <img src="{{ .src }}" alt="">
        </div>
        {{end}}
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <!-- Add Pagination -->
    <!-- <div class="swiper-pagination"></div> -->
    </div>
  </div>
  <div class="about-section section-tint mb-4 sm:mb-8">
    <div class="max-w-screen-lg mx-auto">
      <div class="px-6 py-12 sm:py-16 flex flex-col gap-5 text-base leading-relaxed">
        <h2 class="text-2xl font-semibold text-gray-900 dark:text-gray-100">{{ .Site.Params.aboutTitle | default "About us" }}</h2>
        <div class="flex flex-col gap-4">
          {{ range $i, $p := .Site.Params.about }}
          <p class="text-slate-600 dark:text-slate-300">{{ $p.content }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<link rel="stylesheet" href="{{ $swiperCss.Permalink }}">

<!-- Initialize Swiper -->

<script src="{{ $swiper.Permalink }}"></script>
<script>
  const swiper = new Swiper('.swiper', {
    direction: 'horizontal',
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    //键盘左右方向键控制
    keyboard: true,
    //自动切换
    autoplay: {
      delay: 10000,
    },
    autoHeight: true,
    //懒加载
    lazyLoading : true,
    lazyLoadingInPrevNext : false,
    //无限循环
    rewind: true,
    loop: true
  });
</script>
